<div id="container">

    <form method="POST" class="sign-up-form" action="/users/signup">
    <label for="username" value="Username">Username:</label>
    <input id="username" type="text" name="username">
    <label for="password" value="password">Password:</label>
    <input id="password" type="password" name="password">
    <label for="password2" value="password">Confirm password:</label>

    <input id="password2" type="password" name="password2">
    <label for="email" value="password">Mail address:</label>

    <input id="email" type="text" name="email">

    <input id="submit" type="submit">

    </form>

</div>